/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
.shadow-container{
  box-shadow: 1px 1px 4px 2px;
    width: 99%;
    padding: 10px 30px 10px 30px;
    margin: 10px;
}
